[submodule "front"]
	path = front
	url = ssh://git@git.mediaspeech.com:17890/mint/screen-front.git
[submodule "backend"]
	path = backend
	url = ssh://git@git.mediaspeech.com:17890/mint/screen-poc.git
