@owlint:registry=https://git.fenrys.io/api/v4/projects/454/packages/npm
//git.fenrys.io/api/v4/projects/454/packages/npm/:_authToken=gldt-DBWr8gxnMfLL6rfgDkTm

@awesome.me:registry=https://npm.fontawesome.com/
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=E22FEC14-1410-4FD1-BAF2-61ADF3F32C55